# **Inheritance = re-use & Overloading Method**

| Accounting |      Developer     |     Sale    |
|------------|:------------------:|------------:|
|    Name    |          Name      |     Name    |
|    Salary  |    Salary          |      Salary |
|     Age    |       Experience   |        Area |
|            |    Skill           |             |

| Method     |     Method         |    Method   |
|------------|:------------------:|------------:|
| Cal. Income|    Cal. Income     | Cal. Income |
| Show Data  |    Show Data       | Show Data   |
|            |    Cal. OT         | Cal. Com    |

In [55]:
# main class
class Employee:
        
    _minSalary = 15000
    _maxSalary = 500000 
    companyName = "GG"
    # Constructor
    def __init__(self, name ,salary, department):
        # public attribute
        self.__name = name
        self.__salary = salary
        self._department = department
        
    def _showdata(self):
        print(f"NAME : {self.__name}")
        print(f"SALARY : {self.__salary}")
        print(f"DEPARTMENT : {self._department}")
        
    def _getIncome(self, bonus=0):
        return self.__salary * 12 + bonus
    
    def __str__(self):
        return "Name {}, Department {}, Salary {}, Annual_Income {}".format(self.__name, 
                                                                              self._department, 
                                                                              self.__salary,
                                                                              self._getIncome())

In [56]:
# super().__init__(name)
# for call attribute in main class, e.g Constructor, Method, Attribute

In [82]:
class Accounting(Employee):
    __departmentName = "accouting"
    def __init__(self, name, salary, age):
        super().__init__(name, salary, self.__departmentName)
        self._age = age
    
    def _showdata(self):
        super()._showdata()
        print(f"AGE : {str(self._age)}")
        print()

    def __str__(self):
        return super().__str__() + ", AGE {}".format(self._age)
    
    
class Developer(Employee):
    __departmentName = "developer"
    def __init__(self, name, salary, experience, skill):
        super().__init__(name, salary, self.__departmentName)
        self._exp = experience
        self._skill = skill
        
    def _showdata(self):
        super()._showdata()
        print(f"EXPERIENCE : {str(self._exp)}")
        print(f"SKILL : {self._skill}")
        print()
        
    def __str__(self):
        return super().__str__() + ", EXPERIENCE {}, SKILL {}".format(self._exp, self._skill)


class Sale(Employee):
    __departmentName = "sale"
    def __init__(self, name, salary, area):
        super().__init__(name, salary, self.__departmentName)
        self.area = area
        
    def _showdata(self):
        super()._showdata()
        print(f"AREA : {self.area}")
        print()
        
    def __str__(self):
        return super().__str__() + ", AREA {}".format(self.area)

In [83]:
# accounting = Accounting("A", 100)

# developer = Developer("B", 2)

# sale = Sale("C", 3)
# print(sale._showdata())

In [87]:
accounting = Accounting("A", 100, 35)
print(accounting.__str__())
accounting._showdata()

developer = Developer("B", 200, 3, "Python")
print(developer.__str__())
developer._showdata()

sale = Sale("C", 300, "Bangkok")
print(sale.__str__())
sale._showdata()

Name A, Department accouting, Salary 100, Annual_Income 1200,AGE 35
NAME : A
SALARY : 100
DEPARTMENT : accouting
AGE : 35

Name B, Department developer, Salary 200, Annual_Income 2400,EXPERIENCE 3, SKILL Python
NAME : B
SALARY : 200
DEPARTMENT : developer
EXPERIENCE : 3
SKILL : Python

Name C, Department sale, Salary 300, Annual_Income 3600,AREA Bangkok
NAME : C
SALARY : 300
DEPARTMENT : sale
AREA : Bangkok